.bg-company-red{
    background-color: #2d7788;

}

.bg-company-red a{
    color: white;

}


.ca-pad{
    padding-top: 1em;
}
.kevin-links{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 50%;
    background: #2d7788;
    text-align: center;
    padding-top: 8px;
    font-size: 16px;
}

.kevin-links a:hover{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    display: inline-block;
    color: #2d7788;
    -webkit-border-radius: 50%;
    background-color: #fff;
    text-align: center;
    padding-top: 8px;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #545E6C;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-padding-ca{
    padding-top: 8em;
}

.bg-4 {
    background-color: #2d7788;
    color: #fff;
    height: 8em;
}

.accordion-header {
    background-color: #2d7788;
    color: #fff;
}

.accordion-header a{

    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.my-ca:hover{
    background-color: #ffffff;
    color: #2d7788;
    border-color: #2d7788;



}
.my-ca{
    background-color: #2d7788;
    color: white;
    border-color: white;
}

.my-ca-footer{
    border: solid;
    font-size: 30px;

}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
