.tech{
    height: 10em;
    width: auto;
}

body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.card {
    card-body: 3em;
    /*float: right;*/
}


.ca-card-footer{
    background-color: #2d7788;
}

.ca-card-main{
    border-width: thick;
    border-style: solid;
    border-color: #2d7788;

}

.ca-card-footer a{
    color: white;
}


.modal-dialog,
.modal-content {
    /* 80% of window height */
    width: 1100px;
    height:900px;
    align-content: center;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
    align-content: center;

}
.modal {
    text-align: left;
    padding-left: 6em;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}