.tech{
    height: 10em;
    width: auto;
}

body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.card {
    card-body: 3em;
    /*float: right;*/
}


.ca-card-footer{
    background-color: #2d7788;
}

.ca-card-main{
    border-width: thick;
    border-style: solid;
    border-color: #2d7788;

}

.ca-card-footer a{
    color: white;
}
